dist: trusty
sudo: false
cache: bundler
language: ruby
env:
  global:
    - secure: NDa++p5J73q5JjH25x8p1IJiCZXHPq4kd2n/ChAHrda+va/+d5cxtIHUDAFtfKJAeIr9W2yAjCm/VBsncZbxAbQai1y6zF9hU/aoWOyYxFWJkB65Off5WiYnWYB9gzDteHzAcXcsLds3KOse4MQPkxmdh0Q9bmK/I/IaPojjajP2bwAYmSIjj4jKLIGKS6VWx1MlyZk2ZHY0x++MChz6D/jTPeQDZgm8ubZIP+I+BoAl7VSZ+5ZhfpGcxE8zEC1iofbyT7JAKQC0FD3u/zHrZzFeqRSXw7Yt+TmdPNr5yzZZyOhez0BVpkDAxPbhZpxcIi4qVeiZ05yS8eu9auLZ7bP05CG3VOWZpGPpzTAh1Z60o0ysGbtSbHuexUR6bxztSvUdEGSgrEhNvPjZvfDdWH/zrVFQxo39t8hvX9n3KmInDw6WKcS0Q7yZPekZK0R+4HrpGvG+QQZkbWvWPX0JPyzT17Az+1kGWfmsFI/XJby9hYvPiiYX6WOhI8Kls4BrFCCKIScW3OE0SIO5JasJ+SeqFGifCppEeuKsJ8bK61l1iurTTYoIl8e69E5Sn2yXa5rfMuKDvRyzGPQFWKw8o+saGeh5A+HOufBM6Bm85XwtAuRq2o9KloSqYhITnfWoj6xWckUuOrCSKsJrtl5QkuG45uaImPv11wiPwz4Sag0=
before_install:
  - 'if [[ $BUNDLE_GEMFILE == *master.gemfile ]]; then gem update --system; fi'
  - gem --version
  - gem install bundler
  - bundle --version
  - 'bundle config --local path ${BUNDLE_PATH:-$(dirname $BUNDLE_GEMFILE)/vendor/bundle}'
  - bundle config --local bin $PWD/bin
install: bundle update --jobs=3 --retry=3
script:
  - ./bin/rake travis
matrix:
  include:
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.gemfile
    - rvm: 2.4.3
      gemfile: test/gemfiles/chef-13.gemfile
    - rvm: 2.5.0
      gemfile: test/gemfiles/master.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.14.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.15.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.16.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.17.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.18.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.19.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.20.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.21.gemfile
    - rvm: 2.4.1
      gemfile: test/gemfiles/chef-13.0.gemfile
    - rvm: 2.4.1
      gemfile: test/gemfiles/chef-13.1.gemfile
    - rvm: 2.4.1
      gemfile: test/gemfiles/chef-13.2.gemfile
    - rvm: 2.4.1
      gemfile: test/gemfiles/chef-13.3.gemfile
    - rvm: 2.4.2
      gemfile: test/gemfiles/chef-13.4.gemfile
    - rvm: 2.4.2
      gemfile: test/gemfiles/chef-13.5.gemfile
    - rvm: 2.4.2
      gemfile: test/gemfiles/chef-13.6.gemfile
    - rvm: 2.4.3
      gemfile: test/gemfiles/chef-13.8.gemfile
